@*<p>&copy; @DateTime.Now.Year - Navisoft JSC - All Rights Reserved</p>
    <p>Add: 14th floor, Center Building, 1 Nguyen Huy Tuong , Thanh Xuan, Hanoi * Tel : (844) - 36.868.686 * Email: info@navisoft.com.vn</p>*@
@using CustomWarehouse;
<p> Giấy phép số 221/GP-BC của Bộ Văn hóa - Thông tin cấp ngày 04/06/2007 về cung cấp  thông tin lên mạng internet</p>
<span>Hệ thống quản lý kho ngoại quan <span style="float:right; padding-right: 15px;">@DataMemory.Get_Current_Date().ToString("dd/MM/yyyy HH:mm") </span></span>
