#popup_container {
	/*font-family: Arial, sans-serif;*/
	/*font-size: 14px;*/
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
    /*box-shadow: 1px 1px 1px #ccc;*/
	border: solid 2px #398439;
	color: #2f2f2f;
	/*-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
	border-radius: 4px;
    background: #eee;
}

#popup_title {
	font-size: 16px;
	font-weight: 800;
	text-align: center;
	line-height: 1.75em;
	color: #fff;
	background: #449d44;

	cursor: default;
	padding: 5px 12px;
	margin: 0em;
  
}

#popup_content {
	/*background: 16px 16px no-repeat url(/Content/images/info.gif);*/
	padding: 1em 1.75em;
	margin: 0em;

}

#popup_content.alert {
	background-image: url(/Content/themes/base/images/info-icon.png);
    background-repeat: no-repeat;
    background-size: 100px;
    margin: 5px;
}

#popup_content.confirm {
	background-image: url(/Content/themes/base/images/warning-icon.png);
    background-repeat: no-repeat;
    background-size: 100px;
    margin: 5px;

}

#popup_content.prompt {
	background-image: url(/Content/themes/base/images/error-icon.png);
    background-repeat: no-repeat;
    background-size: 100px;
    margin: 5px;
}
#popup_content.Alert1 {
	background-image: url(/Content/themes/base/images/info-icon.png);
    background-repeat: no-repeat;
    background-size: 90px;
    margin: 5px;
}

#popup_message {
	padding-left: 80px;
    font-weight: 800;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

#popup_ok, #popup_cancel { 
    display: inline-block;
    padding: 4px 11px;
    line-height: 1.42857143;
    margin-bottom: 0;
    /*font-size: 12px;*/
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 70px;
}
#popup_ok:hover, #popup_cancel:hover { 
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}