@{
    ViewBag.Title = "Danh sách hợp đồng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Partial("~/Areas/ModuleContracts/Views/Shared/ContractMenu.cshtml", 5)

<div class="classWrapperContent col-9" style="width: 75.8%">

    <p class="p_title ">Danh sách Hợp đồng chờ Thanh lý</p>

    <div class="form-horizontal form-fix" style="padding-left:5%">
        <div class="form-group form-search">
            <p class="col-2" style="width: 105px">Số hợp đồng</p>
            <div class="col-4" style="">
                <input type="text" class="form-control" id="txtName" placeholder="Số hợp đồng" onkeypress="return PressEnter()" />
            </div>
            <p class="col-2" style="width: 115px">Ngày đăng ký</p>
            <div class="col-2" style="">
                <input type="text" class="form-control InputDate" id="txtDate" placeholder="dd/mm/yyyy" onkeypress="return PressEnter()" />
            </div>
            <div class="col-2" style="float:left">
                <input id="btn_search" type="button" class="classBtn classBtn-Default" value="Tìm kiếm" style="width:auto" onclick="TableSeach(1, 1)" />
            </div>
        </div>
    </div>

    <div id="divDataTables">
        @Html.Partial("ListDataTable")
    </div>

    <div id="divWrapperViewContract" class="divWrapperPopup" style="display: none;">
        <div class="divPopup" id="divViewContract">
        </div>
    </div>
</div>

<input type="hidden" value="A.CONTRACT_CODE" id="colSorted" name="colSorted" />
<input type="hidden" value="ASC" id="SortType" name="SortType" />
<input type="hidden" id="_txtkeySearch" />

<script>

    function ViewDetails(_id) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/ModuleContracts/Waiting/ViewDetails",
                data: {
                    p_id: _id
                },
                async: true, cache: false, traditional: false,
                success: function (data) {
                    if (data != null) {
                        $("#divViewContract").html(data);
                        ShowPopupDialog('divWrapperViewContract', 'Chi tiết hợp đồng', 700, 750, '');
                        $("#btnExitPopups img").attr("src", '../../../../Content/images/delete.png');
                    }
                }
            });
        } catch (e) {
            alert(e.message);
        }
    }
 
    function PressEnter(e) {
        try {
            var code = e.keyCode || e.which;
            if (code == 13) {
                document.getElementById("btn_search").click();
            }
        } catch (e) {

        }
    }

    function FuncLiquidContract(p_id) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }
            MessageBoxConfirm("Cảnh báo", "Bạn có chắc chắn muốn thanh lý hợp đồng này không?", function () {
                $.ajax({
                    type: "POST",
                    url: "/ModuleContracts/Liquid/LiquidContract",
                    data: {
                        P_ID: p_id
                    },
                    async: false, cache: false, traditional: true,
                    success: function (data) {
                        if (data.success == true) {
                            alert("Thanh lý hợp đồng thành công");
                            window.location.reload();
                        }

                        else {
                            alert("Có lỗi trong quá trình thanh lý hợp đồng, kiểm tra kết nối tới server");
                            return;
                        }
                    }
                });
            }, function () {
                return false;
            });

        } catch (e) {
            alert(e);
        }
    }


    function TableSeach(pNumberPage, pIsSearch) {
        try {
            if (CheckSessionTimeOut() == false) {
                return false;
            }

            var txtDate = $("#txtDate");
            var txtName = $("#txtName");
            var _filterData = "";

            if (pIsSearch == 1) {  //neu bam tim kiem thi moi check con sort va chuyen ban ghi thi ko can
                if (txtDate.val() != "") {
                    if (isDate_ddMMyyyy(txtDate.val()) == false) {
                        alert("Ngày đăng ký không hợp lệ, định dạng ngày tháng là dd/mm/yyyy!");
                        txtDate.focus();
                        return false;
                    }
                }
                _filterData = txtName.val() + "|" + txtDate.val();
                $("#_txtkeySearch").val(_filterData);
            } else { //Neu khong phai la tim kiem thi lay gia tri trc day ra
                _filterData = $("#_txtkeySearch").val();
            }
            //lay dk order by
            var orderby = $("#colSorted").val();
            var orderType = $("#SortType").val();
            //end dk sort
            var _ScrollLeft = document.getElementById("_tableDatas").parentElement.scrollLeft;
            $.ajax({
                type: "POST",
                url: "/ModuleContracts/Liquid/ListSearch_Datas",
                data: {
                    p_issearch: pIsSearch,
                    p_keysearch: _filterData,
                    p_orderby: orderby,
                    p_ordertype: orderType,
                    p_currentpage: pNumberPage
                },
                async: true, cache: false, traditional: false,
                success: function (data) {
                    if (data != null) {
                        $("#divDataTables").html(data);
                    } else {
                        alert("Lỗi check lại kết nối tới server");
                    }
                    if (pIsSearch != 1) {
                        document.getElementById("_tableDatas").parentElement.scrollLeft = _ScrollLeft;
                    }
                }
            });
        } catch (e) {
            alert(e.message);
            CreateRollingWaitingIcon(false);

        }
    }

    function ChangeIConSortWhenSortColumns() {
        try {
            var _order_by = $("#colSorted").val().toUpperCase();
            var _order_type = $("#SortType").val().toUpperCase();
            var _text = _order_type == 'DESC' ? $("#" + _order_by).text() + " ▼" : $("#" + _order_by).text() + " ▲";
            $("#" + _order_by).text(_text);
        }
        catch (e) {
        }
    }


    //HÀM XỬ LÝ KHI NEXT TRANG
    function page(_pagenum) {
        try {
            var _currpage = $(".a-active").attr('id');
            if (_pagenum == "next") {
                _pagenum = _currpage / 1 + 1;
            }
            else if (_pagenum == "prew") {
                _pagenum = _currpage / 1 - 1;
            }

            TableSeach(_pagenum, 0);

        } catch (e) {
            console.log(e.message);
        }
    }

    function SortByCol(value) {
        try {
            //Lay gia tri luu trong colSort luu duoi dang text Hidden
            var _currentColSorted = $("#colSorted").val();
            //Lay gia tri luu trong SortType luu duoi dang text Hidden
            var _currentSortedType = $("#SortType").val();
            var tag = "#" + value;
            if (_currentColSorted == value) {
                if (_currentSortedType.toUpperCase() == "ASC") {
                    $("#SortType").val("DESC");
                }
                else {
                    $("#SortType").val("ASC");
                }
            }
            else {
                $("#colSorted").val(value);
                $("#SortType").val("ASC");
            }
            var pos = document.getElementById("_tableDatas").parentElement.scrollLeft;
            //Sort lai thi ve trang dau
            TableSeach(1, 0);
            //Sort lai thi ve trang dau
            document.getElementById("_tableDatas").parentElement.scrollLeft = pos;
        } catch (e) {
            console.info(e.toString());
        }
    }

</script>
